# -*- coding: utf-8 -*-
# vim: ft=yaml
---
registry:
  lookup:
    master: template-master

  tofs:
    # The files_switch key serves as a selector for alternative
    # directories under the formula files directory. See TOFS pattern
    # doc for more info.
    # Note: Any value not evaluated by `config.get` will be used literally.
    # This can be used to set custom paths, as many levels deep as required.
    files_switch:
      - os
      - os_family

    # All aspects of path/file resolution are customisable using the options below.
    # This is unnecessary in most cases; there are sensible defaults.
    # Default path: salt://< path_prefix >/< dirs.files >/< dirs.default >
    # I.e.: salt://registry/files/default
    # path_prefix: template_alt
    # dirs:
    #   files: files_alt
    #   default: default_alt
    # The entries under `source_files` are prepended to the default source files
    # given for the state
    source_files:
      registry-config-file-file-managed:
        - 'config.yml'
        - 'config.yml.jinja'

  log:
    level: info
    formatter: text
    fields:
      service: registry
      environment: production
  storage:
    cache:
      blobdescriptor: inmemory
    filesystem:
      rootdirectory: /var/lib/registry
    delete:
      enabled: true
  auth:
    htpasswd:
      realm: basic-realm
      htpasswdfile: htpasswd
  http:
    addr: :5000
    tls:
      certificate: /path/to/x509/public
      key: /path/to/x509/private
      minimumtls: tls1.2
    headers:
      X-Content-Type-Options: [nosniff]
  htpasswd:
    users:
      tux: penguin
      you: yourpassword
  certs:
    servercrt:
      -----BEGIN CERTIFICATE-----
      MIIFHDCCBASgAwIBAgIUFC2O4cCAmICQm1ON2Q4rZ3e9newwDQYJKoZIhvcNAQEL
      BQAwejELMAkGA1UEBhMCREUxDzANBgNVBAgMBkJheWVybjESMBAGA1UEBwwJTnVl
      ...
      aEHhTjT+52eRRpKexOubxTSEBS7L7vHAFjY+1/to41tj4p6Q6W1k7cEF8SKlwG6r
      Wn/Ga8vYXiDDJrcAVCwKTA==
      -----END CERTIFICATE-----
    serverkey:
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpQIBAAKCAQEAyLCdQjv9ycy47Yhh8l4zVKvbm+QpEF5MkadzTcwbicyrS2jw
      CLlgWKKWx1sQsBYF7yp7hJF/WUMizwP++Z5u7oJyXmvA+EdNS3p+NhWqaeX/coMo
      ...
      +nfvZTjcFRHCY139lTJkvqN5IO3ttQLRB4vwEa4q/VXF0AxxliuDV/t8S6Z+ctgx
      ruNjUAhFzo+cwtBW4NDuKVP2+8aYxfUM6dWOIDcl3ufNqVgZh6DfKUI=
      -----END RSA PRIVATE KEY-----
