version: 0.1
log:
  level: {{ registry.log.level|default('info', true) }}
  formatter: {{ registry.log.formatter|default('text', true) }}
{%- if registry.log.fields is defined %}
  fields:
{%- if registry.log.fields.service is defined %}
    service: {{ registry.log.fields.service }}
{%- endif %}
{%- if registry.log.fields.environment is defined %}
    environment: {{ registry.log.fields.environment }}
{%- endif %}
{%- endif %}
storage:
  filesystem:
    rootdirectory: {{ registry.storage.filesystem.rootdirectory }}
{%- if registry.storage.filesystem.maxthreads is defined %}
    maxthreads: {{ registry.storage.filesystem.maxthreads }}
{%- endif %}
{%- if registry.storage.delete.enabled is defined %}
  delete:
    enabled: {{ registry.storage.delete.enabled }}
{%- endif %}
  redirect:
    disable: false
{%- if registry.storage.cache.enabled is defined and registry.storage.cache.enabled %}
  cache:
    blobdescriptor: {{ registry.storage.cache.blobdescriptor }}
{%- endif %}
{%- if registry.auth.enabled is defined and registry.auth.enabled %}
auth:
{%- if registry.auth.htpasswd is defined %}
  htpasswd:
    realm: {{ registry.auth.htpasswd.realm|default('registry-realm', true) }}
    path: {{ registry.configdir ~ 'htpasswd' }}
{%- endif %}
{%- endif %}
http:
  addr: {{ registry.http.addr }}
{%- if registry.http.prefix is defined %}
  prefix: {{ registry.http.prefix }}
{%- endif %}
{%- if registry.http.relativeurls is defined %}
  relativeurls: {{ registry.http.relativeurls }}
{%- endif %}
{%- if registry.http.draintimeout is defined %}
  draintimeout: {{ registry.http.draintimeout }}
{%- endif %}
{%- if registry.http.tls.enabled is defined and registry.http.tls.enabled %}
  tls:
    certificate: {{ registry.configdir ~ 'registry.crt' }}
    key: {{ registry.configdir ~ 'registry.key' }}
{%- if registry.http.tls.clientcas is defined %}
    clientcas:
{%- for ca in registry.http.tls.clientcas|default([], true) %}
      - {{ ca }}
{%- endfor %}
{%- endif %}
{%- if registry.http.headers is defined %}
  headers:
{%- for k, v in registry.http.headers.items() %}
    {{ k }}: {{ v }}
{%- endfor %}
{%- endif %}
{%- endif %}
